#root {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height: auto;
  font-family: "proxima nova";
  padding: 80px;

@media(max-width:480px){
  padding: 40px;
}
@media (min-width:481px) and (max-width:1023px){
  padding: 40px;
}
}
@font-face {
  font-family: "proxima nova";
  src: url(fonts\ProximaNovaScOsfRegular.otf);
}
@font-face{
  font-family: "proxima nova regular";
  src: url(fonts/ProximaNova-Regular.otf)
}

/* Variables */

