#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  font-family: "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto,
    Arial, sans-serif;
  padding: 80px;

  @media (max-width: 480px) {
    padding: 40px;
  }
  @media (min-width: 481px) and (max-width: 1023px) {
    padding: 40px;
  }
}
@font-face {
  font-family: "proxima nova";
  src: url(/fonts/ProximaNovaScOsfRegular.woff2) format("woff2"),
    url(/fonts/ProximaNovaScOsfRegular.otf) format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "proxima nova";
  src: url(/fonts/ProximaNova-Regular.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */
