/* resets*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
[data-theme="light"] {
  --bgColor: #f9f9ca;
  --text1: #121212;
  --text2: #002866;
  --text3: #0f3165;
  --text4: #94461f;
  --colo1: #94461f;
  transition: all 1s ease-in-out;
}
[data-theme="dark"] {
  --bgColor: #2a2929;
  --text1: white;
  --text2: #bfbfbf;
  --text3: #a8a8a8;
  --text4: #83c5be;
  --colo1: #94461f;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: var(--bgColor);
  transition: color 0.3s ease, background-color 0.3s ease;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}
h2 {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
}
/* Variables */
