.about-section {
  width: 72%;
  margin: auto;
  margin-top: 60px;
}
.about-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.about-img-container {
  width: 500px;
}
.about-img-container > img {
  transform: scalex(-1);
  animation: voltear 0.7s;
}
@keyframes voltear {
  from {
    transform: scalex(1);
  }
  to {
    transform: scalex(-1);
  }
}
.about-article {
  padding: 20px;
  width: fit-content;
  font-family: "proxima nova regular";
  margin-top: 10px;
  line-height: 1.7em;
  font-size: 1.2em;
}
.about-article>p{
  padding-bottom: 10px;
}
.about-article > h2  {
  font-size: 2em;
  margin-bottom: 20px;
}
.about-article >p>span{
  font-weight: bold;
}
@media (max-width: 480px) {
  .about-section {
    margin-top: 30px;
    width: 90%;
  }

  .about-container {
    flex-direction: column;
  }
  .about-img-container {
    width: 150px;
    align-self: center;
}
.about-article {
  padding: 0;
  line-height: 1.4em;
}
.about-article > h2 {
  font-size: 1.5em;
}
}
@media (min-width:481px) and (max-width:1023px){
  .about-section {
    width: 80%;
    margin-top: 60px;
    padding: 0 1.2em;
  }
  .about-container {
    flex-direction: column;
  }
  .about-img-container {
    width: 150px;
    align-self: center;
    padding-bottom: 20px;
}
.about-article {
  padding: 0;
  line-height: 1.4em;
}
.about-article > h2 {
  font-size: 1.5em;
}
}
@media (min-width:1024px) and (max-width:1279px) {
  .about-section {
    width: 90%;
  }
}