.about-section {
  width: 72%;
  margin: auto;
  margin-top: 60px;
}
.about-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.about-img-container {
transform: rotateY(180deg);
width: clamp(7.5rem, 25dvw, 10rem);
}
.about-img-container > img {
  animation: aparecer 0.3s ease;
}
@keyframes aparecer {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scalex(1);
  }
}
.about-article {
  padding: 20px;
  width: fit-content;
  font-family: "proxima nova";
  font-weight: 700;
  margin-top: 10px;
  line-height: 1.7em;
  color: var(--text1);
}
.about-article > p {
  padding-bottom: 10px;
  
}
.about-article > h2 {
  margin-bottom: 20px;
}
.about-article > p > span {
  font-weight: bold;
}
@media (max-width: 480px) {
  .about-section {
    margin-top: 30px;
    width: 90%;
  }

  .about-container {
    flex-direction: column;
  }
  .about-img-container {
    align-self: center;
  }
  .about-article {
    padding: 0;
    line-height: 1.4em;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .about-section {
    width: 80%;
    margin-top: 60px;
    padding: 0 1.2em;
  }
  .about-container {
    flex-direction: column;
  }
  .about-img-container {
    align-self: center;
    padding-bottom: 20px;
  }
  .about-article {
    padding: 0;
    line-height: 1.4em;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .about-section {
    width: 90%;
  }
.about-img-container{
  width: clamp(12.5rem, 25dvw, 15rem);
}
}
