.carrusel-container {
  width: 72%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  animation: aparecer 0.5s;
  animation-timing-function: ease;
  position: relative;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.carrusel-container > button {
  border: none;
  background-color: inherit;
  height: 30px;
}
.carrusel-button-before {
  position: absolute;
  top: 20%;
  left: -10%;
}
.carrusel-button-after {
  position: absolute;
  top: 20%;
  right: -10%;
}
.carrusel-item {
  height: max-content;
}
.carrusel-pista {
  display: flex;
  padding: 1rem;
  min-height: 700px;
}
.carrusel-item-container {
  opacity: 0;
  transition: all 2s ease;
}
.active {
  opacity: 5;
}
.right{
  animation: moverRight 1.8s;
}
.left{
  animation: moverLeft 1.8s;
}
.next{
animation: goinOut 2s;
}
/* animacion para slide que entra*/
@keyframes moverRight{
from{transform: translateX(-20%);}
to{transform: translateX(0%);}
}
@keyframes moverLeft{
  from{transform: translateX(20%);}
  to{transform: translateX(0%);}
  }
/* animacion para slide que sale */
@keyframes goinOut{
  from{transform: translateX(0%);
  to{transform: translateX(20%);}}
}
.carrusel-info-container > p {
  font-family: "proxima nova regular";
  font-size: 1.2rem;
  margin-top: 20px;
}
.carrusel-info-container{
  margin-top: 50px;
}
.carrusel-img-container {
  /* height: 500px; */
}
.carrusel-img-container > img {
  object-fit: contain;
}
@media (max-width: 480px) {
  .carrusel-container {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .carrusel-container {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .carrusel-button-before {
    position: relative;
    top: 120px;
    left: 30px;
  }
  .carrusel-button-after {
    position: relative;
    top: 120px;
    right: 30px;
  }
  .carrusel-img-container {
    /* height: 300px; */
  }
}
