.carrusel-container {
  width: 72%;
  margin: auto;
  margin-top: 60px;
  animation: aparecer 0.3s;
  animation-timing-function: ease;
  overflow: hidden;
  color: var(--text1);
}
.carrusel-item-container {
width: 25%;
flex-shrink: 0;
  /* flex: 0 0 100%; */
}
.carrusel-pista {
  display: flex;
  transform: translateX(0);
  /* Width se debe calcular automatico */
  width: 400%; 
  /* flex-direction: row; */
  min-height: 700px;
  /* overflow-x: auto;
  overflow-x: auto;
  scrollbar-width: none; Firefox 
  -ms-overflow-style: none; IE y Edge */
}
/* .carrusel-pista::-webkit-scrollbar {
  display: none; /* Chrome, Safari y otros Webkit 
} */

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.buttons_container{
  position: relative;
  overflow: hidden;
}
.carrusel-button {
  width: 4vw;
  height: 4vh;
  z-index: 100;
}
.before {
  position: absolute;
  top: 25%;
  left: 3%;
}
.after {
  position: absolute;
  top: 25%;
  right: 3%;
}

.carrusel-item-container {
  transition: all 2s ease;
}
.right {
  animation: moverRight 1.8s;
}
.left {
  animation: moverLeft 1.8s;
}
.next {
  animation: goinOut 2s;
}
/* animacion para slide que entra*/
@keyframes moverRight {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes moverLeft {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0%);
  }
}
/* animacion para slide que sale */
@keyframes goinOut {
  from {
    transform: translateX(0%);
    to {
      transform: translateX(20%);
    }
  }
}
.carrusel-info-container > p {
  font-family: "proxima nova regular";
  font-size: 1.2rem;
  margin-top: 20px;
}
.carrusel-info-container {
  margin-top: 50px;
}
.carrusel-img-container {
  /* height: 500px; */
}
.carrusel-img-container > img {
  object-fit: contain;
}
@media (max-width: 480px) {
  .carrusel-container {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .carrusel-container {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .carrusel-button-before {
    position: relative;
    top: 120px;
    left: 30px;
  }
  .carrusel-button-after {
    position: relative;
    top: 120px;
    right: 30px;
  }
  .carrusel-img-container {
    /* height: 300px; */
  }
}
