.contact-section {
  width: 72%;
  justify-self: center;
  margin: auto;
  margin-top: 60px;
}
.contact-container {
  justify-self: center;
}
.contac-text-container {
  font-family: "proxima nova";
    font-weight: 700;
  text-align: center;
  color: var(--text1);
}
.contac-text-container > h2 {

  padding-bottom: 30px;
}
.contac-text-container > p {
  width: 650px;
  padding-bottom: 30px;
  line-height: 1.7em;
}
.contac-text-container > p>span{
  font-weight: bold;
}
.contact-form {
  height: 1100px;
}
.contact-email {
  font-weight: 900;
}
.contact-email:hover {
  color: blue;
}
@media (max-width: 480px) {
  .contact-section {
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
  }

  .contac-text-container > p {
    width: auto;
    padding-bottom: 30px;
    line-height: 1.3em;
    text-align: left;
  }
  .contact-container {
    justify-self: auto;
    padding: 0 15px;
  }
  .contact-form {
    height: 1010px;
    width: -webkit-fill-available;
  }
}
@media (min-width: 481px) and (max-width: 1249px) {
  .contact-section {
    width: 80%;
    margin-top: 60px;
    overflow: hidden;
  }

  .contac-text-container > p {
    width: auto;
    padding-bottom: 30px;
    line-height: 1.3em;
    text-align: left;
  }
  .contact-container {
    justify-self: auto;
    padding: 0 15px;
  }
  .contact-form {
    height: 1010px;
    width: -webkit-fill-available;
  }
}
