.name_title {
  font-size: clamp(0.9rem, 5vw, 4.4rem);
  letter-spacing: 0.138889em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 28px;
  color: var(--text1);
  text-transform: uppercase;
}
#compatibility {
   visibility:hidden;
}
.name_title:hover {
  color: var(--text4);
}
.header-info > p {
  font-size: clamp(1rem, 1.5vw, 2rem);
  letter-spacing: 0.428571em;
  font-weight: 600;
  text-align: center;
  margin: 28px 0px;
  color: var(--text3);
}
.header-nav {
  padding: 28px;
  max-width: 1015px;
  margin: auto;
}
.header-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 200px;

}
.header-nav-ul > li {
  font-size: clamp(0.8rem, 1.3vw, 2.2rem);
  color: var(--text2);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header-nav-ul > li:hover {
  color: var(--text4);
  cursor: pointer;
}
.titles-checked {
  color: var(--text4);
}
@media (max-width: 480px) {
  .header {
    overflow: hidden;
  }
  .header-info > p {
    margin: 0;
  }
  .header-nav {
    padding: 0px;
  }
  .header-nav > ul {
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .header-info {
    margin-bottom: 2em;
  }
  .header-nav-container {
    width: 90%;
    justify-self: center;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .header {
    overflow: hidden;
  }
  .header-info > p {
    margin: 0;
  }
  .header-nav {
    padding: 0px;
  }
  .header-nav > ul {
    margin: 0px;
    padding: 0 50px;
  }
  .header-info {
    margin-bottom: 2em;
  }
  .header-nav-container {
    width: 90%;
    justify-self: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header-nav>ul {
    padding: 0 70px;
  }
}

