.header-info > h1 {
  font-size: 69px;
  letter-spacing: 0.138889em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 28px;
  color: var(--text1);
  text-transform: uppercase;
}
.header-info > h1:hover {
  color: #83c5be;
  cursor: pointer;
}
.header-info > p {
  font-size: 16px;
  letter-spacing: 0.428571em;
  font-weight: 600;
  text-align: center;
  margin: 28px 0px;
  color: #a8a8a8;
}
.header-nav {
  padding: 28px;
  max-width: 1015px;
  margin: auto;
}
.header-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 200px;

}
.header-nav-ul > li {
  font-size: 17px;
  color: var(--text2);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header-nav-ul > li:hover {
  color: #83c5be;
  cursor: pointer;
}
.titles-checked {
  color: #83c5be;
}
@media (max-width: 480px) {
  .header {
    overflow: hidden;
  }
  .header-info > h1 {
    font-size: 2em;
  }
  .header-info > p {
    font-size: 1em;
    margin: 0;
  }
  .header-nav {
    padding: 0px;
  }
  .header-nav > ul {
    margin: 0px;
    padding: 0px;
  }
  .header-nav-ul > li {
    font-size: 0.8em;
  }
  .header-info {
    margin-bottom: 2em;
  }
  .header-nav-container {
    width: 90%;
    justify-self: center;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .header {
    overflow: hidden;
  }
  .header-info > h1 {
    font-size: 2em;
  }
  .header-info > p {
    font-size: 0.9em;
    margin: 0;
  }
  .header-nav {
    padding: 0px;
  }
  .header-nav > ul {
    margin: 0px;
    padding: 0 50px;
  }
  .header-nav-ul > li {
    font-size: 1em;
  }
  .header-info {
    margin-bottom: 2em;
  }
  .header-nav-container {
    width: 90%;
    justify-self: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header-info > h1 {
    font-size: 2.5em;
  }
  .header-info > p {
    font-size: 0.9em;
  }
  .header-nav-ul > li {
    font-size: 1em;
  }
  .header-nav>ul {
    padding: 0 70px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .header-info > h1 {
    font-size: 3em;
  }
}
