.home-iconos-section {
  width: 80%;
  align-self: center;
  margin-top: 60px;
}
.item-p > p {
  justify-self: center;
  font-family: "proxima nova regular";
  font-size: 18px;
  text-align: center;
}
.item-p > p:hover {
  font-weight: 900;
}
.iconos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  column-gap: 10%;
  justify-self: center;
}
.item-img > img {
  transition: 0.5 ease-in-out;
}
.item-img > img:hover {
  transform: scale(1.2, 1.2);
}
@media (max-width: 480px) {
  .iconos-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .home-iconos-section {
    width: 100%;
    margin-top: 30px;
  }
  .icono-item {
    width: 60%;
    align-self: center;
  }
  .item-p > p {
    font-size: 1.2em;
  }
}
@media (max-width: 480) {
  .iconos-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .home-iconos-section {
    width: 100%;
    margin-top: 30px;
  }
  .icono-item {
    width: 60%;
    align-self: center;
  }
  .item-p > p {
    font-size: 1.2em;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .iconos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
    justify-self: center;
  }
  .home-iconos-section {
    width: 100%;
    margin-top: 60px;
    padding-bottom: 60px;
  }
  .icono-item {
    width: 60%;
    justify-self: center;
  }
  .item-p > p {
    font-size: 1.2em;
  }
}
