.others-cards-section {
  width: 72%;
  justify-self: center;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.others-cards-section > h2 {
  font-size: 2em;
  padding-bottom: 30px;
  font-family: "proxima nova regular";
  text-align: center;
}
.others-card-item-container {
  /* flex-basis: 1000px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* box-shadow: 2px 2px 2px 2px;
    padding: 10px; */
}
.others-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 5%;
  justify-self: center;
  animation: aparecer 0.5s ease;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.others-card-img-container {
  overflow: hidden;
  transition: 1 ease;
}
.others-card-img-container:hover {
  transform: scale(1.05, 1.05);
}
.others-card-img-container > img {
  width: 250px;
  object-fit: cover;
  height: 250px;
  object-position: 50% 40%;
}

.others-card-title-container {
}
.others-card-title-container > p {
  text-align: center;
  font-size: 1.2em;
  height: 80px;
  font-family: "proxima nova regular";
}

.others-card-info-container > p {
  font-family: "proxima nova regular";
  font-size: 1.2rem;
}
@media (max-width: 480px) {
  .others-cards-section > h2 {
    font-size: 1.4em;
    /* padding-bottom: 20px; */
  }
  .others-cards-section {
    width: 100%;
    /* justify-self: center;
        margin: auto; */
    margin-top: 30px;
    /* display: flex
    ;
        flex-direction: column; */
  }
  .others-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    /* gap: 5%;
        justify-self: center;
        animation: aparecer 0.5s ease; */
  }
  .others-card-img-container >img {
    width: 325px;
    height: 325px;
    /* object-fit: cover;
    object-position: 50% 40%; */
}
.others-card-title-container > p {
    font-size: 1em;
    height: 40px;
}
}
@media(max-width:480){
  .others-cards-section > h2 {
    font-size: 1.4em;
    /* padding-bottom: 20px; */
  }
  .others-cards-section {
    width: 100%;
    /* justify-self: center;
        margin: auto; */
    margin-top: 30px;
    /* display: flex
    ;
        flex-direction: column; */
  }
  .others-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    /* gap: 5%;
        justify-self: center;
        animation: aparecer 0.5s ease; */
  }
  .others-card-img-container >img {
    width: 325px;
    height: 325px;
    /* object-fit: cover;
    object-position: 50% 40%; */
}
.others-card-title-container > p {
    font-size: 1em;
    height: 40px;
}
}
@media (min-width:481px) and (max-width:767px){
  .others-cards-section > h2 {
    font-size: 1.4em;
    /* padding-bottom: 20px; */
  }
  .others-cards-section {
    width: 100%;
    /* justify-self: center;
        margin: auto; */
    margin-top: 30px;
    /* display: flex
    ;
        flex-direction: column; */
  }
  .others-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    /* gap: 5%;
        justify-self: center;
        animation: aparecer 0.5s ease; */
  }
  .others-card-img-container >img {
    width: 325px;
    height: 325px;
    /* object-fit: cover;
    object-position: 50% 40%; */
}
.others-card-title-container > p {
    font-size: 1em;
    height: 40px;
}
}