.responsive-carrusel-item-container {
  animation: aparecer 0.5s ease-in;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.responsive-carrusel-container {
  color: var(--text1);
}
@media (max-width: 480px) {
  .responsive-carrusel-container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .responsive-carrusel-item {
    height: max-content;
  }
  .responsive-carrusel-pista {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .responsive-carrusel-info-container > p {
    font-family: "proxima nova regular";
    font-size: 1.2rem;
    margin-top: 20px;
  }
  .responsive-carrusel-img-container > img {
    object-fit: contain;
  }
}
@media (min-width: 781) {
  .responsive-carrusel-container {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 780px) {
  .responsive-carrusel-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .responsive-carrusel-item {
    height: max-content;
  }
  .responsive-carrusel-pista {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .responsive-carrusel-info-container > p {
    font-family: "proxima nova regular";
    font-size: 1.2rem;
    margin-top: 20px;
  }
  .responsive-carrusel-img-container > img {
    object-fit: contain;
  }
}
@media (min-width: 1024px) {
  .responsive-carrusel-container {
    display: none;
  }
}
