@media (max-width: 480px) {
  .responsive-carrusel-container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    animation: aparecer 0.5s;
    animation-timing-function: ease;
  }
  @keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
  .responsive-carrusel-item {
    height: max-content;
  }
  .responsive-carrusel-pista {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .responsive-carrusel-info-container > p {
    font-family: "proxima nova regular";
    font-size: 1.2rem;
    margin-top: 20px;
  }
  .responsive-carrusel-img-container > img {
    object-fit: contain;
  }
}
@media (min-width: 780) {
  .responsive-carrusel-container {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .responsive-carrusel-container {
    width: 80%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    animation: aparecer 0.5s;
    animation-timing-function: ease;
  }
  @keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
  .responsive-carrusel-item {
    height: max-content;
  }
  .responsive-carrusel-pista {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .responsive-carrusel-info-container > p {
    font-family: "proxima nova regular";
    font-size: 1.2rem;
    margin-top: 20px;
  }
  .responsive-carrusel-img-container > img {
    object-fit: contain;
  }
}
@media (min-width: 1024px) {
  .responsive-carrusel-container {
    display: none;
  }
}
