.cards-section {
  width: 72%;
  justify-self: center;
  margin: auto;
  margin-top: 60px;
}
.card-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 1px 1px 3px 1px gray;
  border-radius: 5px;
  animation: aparecer 0.5s;
  animation-timing-function: ease;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 2%;
  justify-self: center;
}
.card-img-container {
  height: 150px;
  overflow: hidden;
  margin-top: 10px;
}
.card-img-container > img {
  max-width: 100%;
  object-fit: contain;
}
.card-title-container > p {
  text-align: center;
  font-size: 1.2em;
  height: 80px;
  font-family: "proxima nova regular";
}
.card-info-container > p {
  font-family: "proxima nova regular";
  font-size: 1.2rem;
}
@media (max-width: 480px) {
  .cards-section {
    width: 90%;
    margin-top: 30px;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .card-img-container {
    height: auto;
    padding: 10px;
  }
  .card-title-container > p {
    font-size: 1.4em;
    height: 3em;
  }
  .card-info-container > p {
    font-size: 1.4rem;
  }
  .card-item-container {
    gap: 5px;
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 5px;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .cards-section {
    width: 90%;
    margin-top: 60px;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
  }
  .card-img-container {
    height: 150px;
    padding: 10px;
  }
  .card-title-container > p {
    font-size: 1.4em;
    height: 3em;
  }
  .card-info-container > p {
    font-size: 1.4rem;
  }
  .card-item-container {
    gap: 5px;
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .work-card-img-container > img {
    max-width: 180%;
    object-fit: contain;
  }
  .work-card-img-container {
    height: 150px;
  }
}
