.technologies-section {
  width: 72%;
  justify-self: center;
  margin: auto;
  font-family: "proxima nova";
    font-weight: 700;
  color: var(--text1);
}
.technologies-title{
    justify-self: center;
    text-align: center;
        margin: 60px 0 30px;
}
.technologies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-items: center;
  gap: 2rem;
}
.technologies-item {
text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform .3s ease;
  animation: aparecer .3s ease;
}
@keyframes aparecer{
    from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 100;
    scale: 1;
  }
}
.technologies-item:hover{
  transform: scale(1.2, 1.2);
}
.technologies-icon {
  width: 5em;
  height: 6em;
  transition: transform .3s ease;
  align-content: center;
}
.technologies-item:hover .technologies-icon{
  transform: rotate(15deg);
}
.technologies-icon > svg {
  width: 100%;
  height: auto;
}
@media(max-width: 480px){
  .technologies-container {
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  }
}