.work-cards-section {
  width: 72%;
  justify-self: center;
  margin: auto;
  color: var(--text1);
  font-family: "proxima nova regular";
}
.work_title {
  justify-self: center;
  margin: 60px 0 30px;
}
.work-card-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 1px 1px 3px 1px gray;
  border-radius: 5px;
}
.work-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 4%;
  justify-self: center;
  animation: aparecer 0.5s;
  animation-timing-function: ease;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.work-card-img-container {
  height: 200px;
  width: 90%;
  padding-top: 5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-card-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work-card-title-container > p {
  text-align: center;
  font-size: 1.2em;
  height: 80px;
}
.work-card-title-container {
  padding: 0 10px;
  min-height: 80px;
}
.work-card-info-container {
  padding: 10px;
}
.work-card-info-container > p {
  font-family: "proxima nova regular";
  font-size: 1.2rem;
  text-align: center;
}
@media (max-width: 480px) {
  .work-cards-section {
    width: 90%;
  }
  .work-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .work-card-img-container {
    height: 200px;
  }
  .work-card-title-container > p {
    font-size: 1.2em;
    height: auto;
    padding-bottom: 10px;
  }
  .work-card-info-container > p {
    font-size: 1em;
    padding: 10px;
  }
  .work-card-item-container {
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 5px;
  }
}
@media (min-width: 481px) and (max-width: 1279px) {
  .work-cards-section {
    width: 90%;
    padding-bottom: 60px;
  }
  .work-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4%;
  }
  .work-card-img-container {
    height: 200px;
  }
  .work-card-img-container > img {
    max-width: 175%;
  }
  .work-card-title-container > p {
    font-size: 1.2em;
    padding-bottom: 10px;
  }
  .work-card-info-container > p {
    font-size: 1em;
    padding: 10px;
  }
  .work-card-item-container {
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 5px;
  }
}
