.work-cards-section {
  width: 72%;
  justify-self: center;
  margin: auto;
  color: var(--text1);
  font-family: "proxima nova";
  font-weight: 700;
}
.work_title {
  justify-self: center;
  margin: 60px 0 30px;
}
.work-card-item-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 1px 1px 3px 1px gray;
  border-radius: 5px;
}
.work-cards-container {
  display: flex;
flex-direction: row;
  width: 100%;
  gap: 4%;
  justify-self: center;
  animation: aparecer 0.5s;
  animation-timing-function: ease;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.work-card-img-container {
  height: 200px;
  width: 90%;
  padding-top: 5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-card-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.work-card-title-container > p {
  text-align: center;
}
.work-card-title-container {
  padding: 0 10px;
}
.work-card-info-container {
  padding: 10px;
}
.work_p {
  font-family: "proxima nova";
  font-weight: 700;
  text-align: center;
  margin: 1.5rem 0;
}
.work_ul {
 
  li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
  }
}
.work_ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--text1); /* Color azul, puedes cambiarlo */
  border-radius: 2px; /* Para esquinas ligeramente redondeadas */
}
@media (max-width: 780px) {
  .work-cards-section {
    width: 90%;
  }
  .work-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .work-card-img-container {
    height: 200px;
  }
  .work-card-title-container > p {
    height: auto;
    padding-bottom: 10px;
  }
  .work-card-info-container > p {
    padding: 10px;
  }
  .work-card-item-container {
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 5px;
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 1279px) {
  .work-cards-section {
    width: 90%;
    padding-bottom: 60px;
  }
  .work-cards-container {
    gap: 2rem;
  }
  .work-card-img-container {
    height: 200px;
  }
  .work-card-item-container {
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 5px;
  }
}
