.description-button{
    border: none;
    background-color: inherit;
}
.description-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(81, 79, 79, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .description-article {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }