/* Paleta de colores
fondos:  #edf6f9 #ffddd2
color oscuro: #006d77 #e29578 */


.header{
    padding-top: 20px;
    width: 90%;
    margin: auto;
}
@media (min-width: 480px){
.header{
    width: 80%;
}
}
@media (min-width: 768px){
    
}