.studies-section{
    margin-top: 2rem;
}
.studies-summary ::marker{

}
.studies-summary > h2{
    font-size: 1.17rem;
}
.studies-item >h3{
    font-size: 1rem;
}
.study-data >h3{
    font-size: 1rem;
}