.technologies-section{
    margin-top: 2rem;
}
.technologies-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.technologies-logo{
border: solid;
    border-radius: 5px;
    border: 0.05rem, solid, #006d77;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #83c5be;
}
.technologies-logo > p{
    text-align: center;
}
.technologies-title{
font-size: 1.17rem;
}
@media (min-width: 480px){
.technologies-container{
    margin: 1rem auto 0 auto;
    grid-template-columns: repeat(4, 1fr);
    /* max-width: 20rem; */
}}
@media (min-width: 768px){
    .technologies-container{
        grid-template-columns: repeat(5, 1fr);

    }}